footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: black;
  color: #cccccc;
  font-weight: 400;
  font-size: 0.5rem;
}

footer p {
  color: #cccccc;
  font-size: 1rem;
  margin-top: 3px;
  margin-bottom: 3px;
}

footer pre a {
  font-size: 0.7rem;
  color: #cccccc;
  margin-top: 3px;
  margin-bottom: 5px;
}

footer div {
  margin-top: 5px;
  margin-bottom: 5px;
}

body.dark-mode footer {
  background-color: #111;
  color: #aaa;
}
